.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    margin-left: 80px;
    /* Match Compact Sidebar width */
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--bg-color);
    transition: margin-left 0.3s ease;
}